/* =============== RESET BASE =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Whitney", 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.debug {
  outline: 1px dotted black;
  text-align: center;
  padding: 1rem;
}

/* =============== TOP BAR =============== */
.top-bar {
  background-color: #add8e6;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.top-bar .logo {
  width: 20%;
  background-color: orange;
}
.top-bar .nav {
  width: 60%;
  background-color: goldenrod;
  text-align: center;
}
.top-bar .login {
  width: 20%;
  background-color: orange;
  text-align: right;
}

.nav a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

.top-bar .nav {
  width: 60%;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}



/* =============== JUMBOTRON =============== */
.hero {
  background-color: navy;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  width: 70%;
  height: 70%;
  background-color: violet;
  display: block;
}

/* =============== SECTION COMUNI =============== */
.section {
  display: flex;
  padding: 2rem;
  gap: 1rem;
}
.white {
  background-color: white;
}
.gray {
  background-color: #d3d3d3;
}
.dark {
  background-color: #222;
  align-items: stretch;
}

/* =============== COLONNE =============== */
.col {
  flex: 1;
  height: 250px;
}
.blue {
  background-color: dodgerblue;
}
.pink {
  background-color: pink;
}

/* =============== SEZIONE VERDE =============== */
.full.green {
  background-color: green;
  width: 100%;
  height: 300px;
}

/* =============== SEZIONE NERA =============== */
.sidebar {
  width: 25%;
  background-color: salmon;
}
.columns {
  width: 75%;
  display: flex;
  gap: 0.5rem;
}
.box {
  flex: 1;
  background-color: turquoise;
}

/* =============== FOOTER =============== */
.footer {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
